// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
@import '~@angular/material/theming';

// Using the $theme variable from the pre-built theme you can call the theming function

// always include only once per project
@include mat-core();

$custom-primary: mat-palette($mat-blue,900);
$custom-accent:  mat-palette($mat-grey,300);
$custom-warn:  mat-palette($mat-orange,900);
$custom-theme: mat-dark-theme($custom-primary, $custom-accent,$custom-warn);

@include angular-material-theme($custom-theme);
