
  <mat-sidenav-container >
    <mat-sidenav mode="side" opened="true">
        <h5> <strong> Oscillator stepper track N°{{trackIndex+1}}</strong></h5>
      <h6 >Live FX</h6>
      PITCH
      <input type="range" min=20 max=1000 [(ngModel)]="tune"><br> SUSTAIN
      <input type="range" min=0 max=1000 [(ngModel)]="generalSustain"><br> GAIN
      <input type="range" min="0" max="1" step="0.1" [(ngModel)]="generalGain"><br>

      <button (click)="startPitchMotion()"></button><br>
<hr>
      <h6 >Filter</h6>
      ENABLE 
      <input type="checkbox" (change)="filterOnOff()"><br>
      FREQ
      <input type="range" min="0" max="10000" step="1" [(ngModel)]="filterFrequency">{{filterFrequency}}<br> GAIN
      <input type="range" min="0" max="100" step="1" [(ngModel)]="filterGain">{{filterGain}}
      <div style="text-align: left">
      
      <br>
      <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[0]}}" [(ngModel)]="selectedFilter"> {{filters[0] }}
      <br>
      <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[1]}}" [(ngModel)]="selectedFilter"> {{filters[1] }}
      <br>
      <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[2]}}" [(ngModel)]="selectedFilter"> {{filters[2] }}
      <!-- <br> -->
        <!-- <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[3]}}" [(ngModel)]="selectedFilter"> {{filters[3] }} -->
      <br>
      <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[4]}}" [(ngModel)]="selectedFilter"> {{filters[4] }}
      <!-- <br>
      <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[5]}}" [(ngModel)]="selectedFilter"> {{filters[5] }} -->
      <br>
      <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[6]}}" [(ngModel)]="selectedFilter"> {{filters[6] }}
      <!-- <br>
      <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[7]}}" [(ngModel)]="selectedFilter"> {{filters[7] }} -->
      </div>
      
      <button (click)="startMotion()">startMotion</button>
      <!-- <input type="checkbox" (change)="filterOnOff()"> -->
      <!-- <app-filter [isFiltred]="isFiltred"></app-filter> -->
      <hr>
      <h6 >Configure pattern</h6>

      PITCH
      <input type="range" min=20 max=1000 [(ngModel)]="flatPitchMode" (change)="flatPitch()"><br> SUSTAIN
      <input type="range" min=0 max=500 [(ngModel)]="flatSustainMode" (change)="flatSustain()"><br> GAIN
      <input type="range" min=0 max=1 step=0.1 [(ngModel)]="flatGainMode" (change)="flatGain()"><br>

      <select (change)="cambioPreset()" [(ngModel)]="selectedPreset">
        <option *ngFor="let  el of presets" [ngValue]="el">
          <button>{{el.titolo}}</button>
        </option>
      </select><br>
      <button (click)="savePreset()">save preset</button>

</mat-sidenav>
<mat-sidenav-content>
  
      <div class="stepOscillatorContainer">     
        <div class="stepContainer">
          <span *ngFor="let step of stepsOscillator; let i = index" class="step">
            <div class="header">
              <div class="monitor" style="background: red" *ngIf="stepIndex === i">
                {{i+1}}
              </div>
              <div class="monitor" style="background: grey" *ngIf="stepIndex !== i">
                {{i+1}}
              </div>
              <div class="radioContainer">
                <input type="radio" name="{{i}}wave" value="{{waveforms[0]}}" [(ngModel)]="step.type"> {{waveforms[0] | slice:0:3}}
                <br>
                <input type="radio" name="{{i}}wave" value="{{waveforms[1]}}" [(ngModel)]="step.type"> {{waveforms[1] | slice:0:3}}
                <br>
                <input type="radio" name="{{i}}wave" value="{{waveforms[2]}}" [(ngModel)]="step.type"> {{waveforms[2] | slice:0:3}}
                <br>
                <input type="radio" name="{{i}}wave" value="{{waveforms[3]}}" [(ngModel)]="step.type"> {{waveforms[3] | slice:0:3}}
              </div>
            </div>
            <div class="sliderContainer">
              <div class="slider">
                <input type="range" min=20 max=500 [(ngModel)]="step.frequency" (change)="someChange()">
              </div>
              <div class="slider">
                <input type="range" min=0 max=500 [(ngModel)]="step.sustain" (change)="someChange()">
              </div>
              <div class="slider">
                <input type="range" min="0" max="1" step="0.1" [(ngModel)]="step.detune" (change)="someChange()">
              </div>

              <div class="slider">
                <input type="range" min="0" max="1" step="0.1" [(ngModel)]="step.gain" (change)="someChange()">
              </div>
              <div >
                <input type="number"  [(ngModel)]="motion[i]" min=0 max=20000>
              </div>
            </div>
            <button (click)="noteOn(i)" *ngIf="!step.play">{{step.play}}
              <span>off</span>
            </button>
            <button (click)="noteOn(i)" *ngIf="step.play" style="background: green">{{step.play}}
              <span>on</span>
            </button>
          </span>
        </div>
      </div>
   
</mat-sidenav-content>
</mat-sidenav-container>


