<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <table>
      <tr>
        <td>
          Pattern
        </td>
        <td>
          <select (change)="cambioPreset()" [(ngModel)]="selectedPreset">
            <option *ngFor="let  el of presets" [ngValue]="el">
              <button>{{el.titolo}}</button>
            </option>
          </select>
        </td>
        <td>
          <button (click)="savePreset()">save</button>
        </td>
      </tr>
      <tr>
        <td>
          Sample
        </td>
        <td>
          <select (change)="changeSample($event)" [(ngModel)]="selectedSampleIndex">
            <option *ngFor="let  sample of runtimeLibrary ; let i = index" [ngValue]="i">
              {{sample.nome}}
            </option>
          </select>
        </td>
        <td>
        </td>
      </tr>
    </table>

    <hr>
    <h6>Live FX</h6> FREQ
    <input type="range" min="0" max="5" step="0.1" [(ngModel)]="tune">
    <br> GAIN
    <input type="range" min="0" max="1" step="0.1" [(ngModel)]="generalGain">
    <hr>
    <h6>Filter
      <input type="checkbox" (change)="filterOnOff()">Enable</h6>


    <br> FREQ
    <input type="range" min="0" max="10000" step="1" [(ngModel)]="filterFrequency">
    <br> RESO
    <input type="range" min="0" max="100" step="1" [(ngModel)]="filterGain">
    <br>


    <div style="text-align: left">
      <table>
        <tr>
          <td>
            <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[0]}}" [(ngModel)]="selectedFilter">
          </td>
          <td>
            {{filters[0] }}
          </td>
          <td>
            <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[1]}}" [(ngModel)]="selectedFilter">
          </td>
          <td>
            {{filters[1] }}
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[2]}}" [(ngModel)]="selectedFilter">
          </td>
          <td>
            {{filters[2] }}
          </td>
          <td>
            <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[3]}}" [(ngModel)]="selectedFilter">
          </td>
          <td>
            {{filters[3] }}
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[4]}}" [(ngModel)]="selectedFilter">
          </td>
          <td>
            {{filters[4] }}
          </td>
          <td>
            <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[5]}}" [(ngModel)]="selectedFilter">
          </td>
          <td>
            {{filters[5] }}
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[6]}}" [(ngModel)]="selectedFilter">
          </td>
          <td>
            {{filters[6] }}
          </td>
          <td>
            <input type="radio" name="radioFilter{{trackIndex}}" value="{{filters[7]}}" [(ngModel)]="selectedFilter">
          </td>
          <td>
            {{filters[7] }}
          </td>
        </tr>
      </table>

    </div>
   Freq motion
   <span class="motionButtons">
      <button mat-icon-button (click)="startMotion()" *ngIf="!isMotion">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button (click)="startMotion()" *ngIf="isMotion" style="background: green">
        <mat-icon> pause</mat-icon>
      </button>
      <button mat-icon-button (click)="enableRecMotion()" *ngIf="!isRecordingMotion">
        <mat-icon>fiber_manual_record</mat-icon>
      </button>
      <button mat-icon-button (click)="enableRecMotion()" *ngIf="isRecordingMotion" style="background: red">
        <mat-icon>fiber_manual_record</mat-icon>
      </button>
    </span>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="stepSamplerContainer">
      <div class="stepContainer">
        <div class="step" *ngFor="let step of stepsSampler; let i = index">
          <div style="background: red" *ngIf="stepIndex === i">
            <button (click)="noteOn(i)" *ngIf="!step.play" class="onOfButton">

            </button>
            <button (click)="noteOn(i)" *ngIf="step.play" style="background: black" class="onOfButton">

            </button>
          </div>
          <div style="background: gray" *ngIf="stepIndex !== i">
            <button (click)="noteOn(i)" *ngIf="!step.play" class="onOfButton">

            </button>
            <button (click)="noteOn(i)" *ngIf="step.play" style="background: black" class="onOfButton">

            </button>
          </div>
          {{step.gain}}{{step.sampleTune}}
          <div class="sliderContainer">

            <div class="slider">
              Freq
              <br>
              <input type="range" min="0" max="1" step="0.1" [(ngModel)]="step.sampleTune">
            </div>
            <div class="slider">
              Sust
              <br>
              <input type="range" min="0" max="1" step="0.01" [(ngModel)]="step.duration">
            </div>
            <div class="slider">
              Vol
              <br>
              <input type="range" min="0" max="1" step="0.1" [(ngModel)]="step.gain">
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
